* {
    font-family: 'Heebo', sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 500;
    color: #21243D;
}

body .none-pc {
    display: none;
}

header {
    display: flex;
    justify-content: flex-end;
    margin: 27px 60px 90px 0;
}

header a {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    margin-left: 33px;
}

.nav--works {
    color: #FF6464;
}

container {
    display: flex;
    justify-content: center;
}

.container_main {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.container_head {
    font-weight: 800;
    font-size: 34px;
    line-height: auto;
}

.container_text {
    display: flex;

}

.container_text--left {
    text-align: center;
    height: 25px;
    width: 62px;
    min-width: 62px;
    background: #FF7C7C;
    border-radius: 16px;
    font-weight: 900;
    font-size: 18px;
    color: #FFFFFF;
 
}

.container_text--right {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
}

.container_text--last {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding-bottom: 23px;
}
.text--heading1{
    font-weight: 500;
font-size: 30px;
line-height: 60px;
color: #21243D;
padding-top: 54px;
}
.text--heading2{
    font-weight: 500;
font-size: 24px;
line-height: 60px;
color: #21243D;
}
.img_2{
    padding-top: 30px;
    padding-bottom: 27px;
}
.img_3{
    padding-bottom: 27px;
}






footer {
    display: flex;
    justify-content: center;
}

.footer_icon {
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
}

.footer_icon img {
    height: 30px;
}

.footer_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #21243D;
    margin-top: 26px;
    margin-bottom: 54px;
}

.none-pc-flex {
    display: none;
}

/* screen-mobile */
@media screen and (max-width:375px) {
    header {
        margin: 12px;
    }

    header a {
        display: none;
    }

    body .none-pc {
        display: block;
    }

    .none-pc-flex {
        display: flex;
    }

    .none-mobile {
        display: none;
    }
    .container__head{
        padding-top: 32px;
    }
    .container__main{
        width: 92%;
    }
}