* {
    font-family: 'Heebo', sans-serif;
    padding: 0;
    margin: 0;
    color: #21243D;
}
body .none-pc {
    display: none;
}
header {
    display: flex;
    justify-content: flex-end;
    margin: 27px 60px 78px 0;
}
header a {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-left: 33px;
}
.nav_work {
    color: #FF6464;
}
section {
    display: flex;
    justify-content: center;
} 
.section_all{
    width: 60%;
    justify-content: center;
   
}
.content_1 {
    font-weight: bold;
    font-size: 34px;
    line-height: 51px;
}
.content_text {
    display: flex;
    margin: 30px 0 23px 0;

}
.content_text_1{
    height: 25px;
    width: 62px;
    background: #FF7C7C;
    border-radius: 16px;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.content_text_2 {
    padding-left: 27px;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
}

.content_text_3 {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding-bottom: 23px;
}
.text_1{
font-weight: bold;
font-size: 30px;
line-height: 60px;
color: #21243D;
padding-top: 54px;
}
.text_2{
font-weight: bold;
font-size: 24px;
line-height: 60px;
color: #21243D;
}
.img_1{
    width: 100%;
   padding-top: 46px;
}
.img_2{
   width:100%;
    padding-top: 30px;
    padding-bottom: 27px;
}
.img_3{
    width:100%;
    padding-bottom: 27px;
}
footer {
    display: flex;
    justify-content: center;
}
.footer_icon {
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
}
.footer_icon img {
    width: 30px;
    height: 30px;
}
.footer_text {
    font-weight: 500;
    font-size: 14px;
    color: #21243D;
    margin-top: 26px;
    margin-bottom: 54px;
}
/* Mobile */
@media screen and (max-width:375px) {
    header {
        margin: 32px 0 18px;
    }
    header a {
        display: none;
    }
    .section_all{
        width: 85%;
    }
}